<h1>Editing Mail Server Credential</h1>

<%= render 'form', mail_server_credential: @mail_server_credential %>

<%= link_to 'Show', @mail_server_credential %> |
<%= link_to 'Back', mail_server_credentials_path %>
